services:
  postgres:
    image: postgres:16.4-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app

  pgadmin:
    image: dpage/pgadmin4:8.11
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@domain.com
      PGADMIN_DEFAULT_PASSWORD: password

  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:latest
    ports:
      - "5080:5080"
      - "5081:5081"
    environment:
      - ZO_ROOT_USER_EMAIL=admin@domain.com
      - ZO_ROOT_USER_PASSWORD=admin
