services:
  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:latest
    ports:
      - "5080:5080"
      - "5081:5081"
    environment:
      - ZO_ROOT_USER_EMAIL=admin@domain.com
      - ZO_ROOT_USER_PASSWORD=admin
